<View>
  <Header>全局日期时间，必填，存储为 yyyy-MM-dd HH:mm:ss</Header>
  <DateTime name="full" toName="text" required="true" min="2021-11-10" format="%Y-%m-%d %H:%M:%S"/>
  <Header>Select text to see related smaller DateTime controls for every region</Header>
  <Labels name="label" toName="text">
    <Label value="birth" background="green"/>
    <Label value="death" background="red"/>
    <Label value="event" background="orange"/>
  </Labels>
  <Text name="text" value="$text"/>
  <View visibleWhen="region-selected">
    <Header>此片段的日期，必填，存储为 ISO 日期</Header>
    <DateTime name="date" toName="text" perRegion="true" only="date" required="true" format="%Y-%m-%d"/>
    <Header>此事件的年份，但存储为 ISO 日期</Header>
    <DateTime name="year" toName="text" perRegion="true" only="year" format="%Y-%m-%d"/>
  </View>
</View>
